<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>GLHF-JEE</display-name>
  <servlet>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>org.connexion.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>org.connexion.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>QuestionSecrete</display-name>
    <servlet-name>QuestionSecrete</servlet-name>
    <servlet-class>org.connexion.QuestionSecreteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionSecrete</servlet-name>
    <url-pattern>/QuestionSecrete</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StudentVisualizationServlet</display-name>
    <servlet-name>StudentVisualizationServlet</servlet-name>
    <servlet-class>DBLinkServlets.StudentVisualizationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentVisualizationServlet</servlet-name>
    <url-pattern>/StudentVisualizationServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>